# Ignoring all files
*

# Whitelisting only the needed files and folders
!.gitignore
!compton.conf

!/polybar
!/polybar/*
!/polybar/panel/*
!/polybar/fonts/*
!/polybar/scripts/*
!/polybar/scripts/themes/*
!/polybar/wallpaper/*
!/polybar/wallpapers/*

!/i3
!/i3/*

!/rofi
!/rofi/*

!/bspwm
!/bspwm/*

!/sxhkd
!/sxhkd/*

!/htop
!/htop/*

!/terminator
!/terminator/*